body {
    background-color: #373b46;
}



th {
    background: #24201f;
    color: #f941a3;
    border-right: 2px solid;
    border-left: 2px solid;
    // font-size: 0.9em;
    // font-weight: bold;
}

td {
    padding: 10px;
    font-size: 15px;
    text-align: center;
    background-color: beige;
    border-top: 2px solid #2e5fa7;
    border-left: 2px solid #2e5fa7;
    border-bottom: 2px solid #2e5fa7;
    border-right: 2px solid #2e5fa7;
    // font-weight: bold;
}

button {
    background-color: #f941a3;
    font-size: 20px;
    margin-top: 15px;
}

input {
    padding: 15px 15px;
    margin-top: 5px;
    background-color: #a5b0d0;
    font-size: 15px;
}

input#printMachine {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
}

#ink-div {
    position: relative;
}

div#display {
    padding: 30px 30px;
    word-break: break-all;
    background-color: rgb(255, 255, 255);
    font-size: 30px;
}

div#DivForSumSalary {
    margin-bottom: 15px;
}

p {
    padding-right: 50%;

}

ul {
    font-size: 20px;
    list-style-type: none;
    -webkit-user-select: none;
    user-select: none;
}

div#geoPhoto {
    background-color: rgb(0, 0, 0);
}

img#geopositionPic {
    width: 27%;
    /* Ширина */
    margin: 0 0 0 3.5%;
    padding: 2%;
}

#geopositionText {
    color: #f5f5f5;
    font-size: 30px;
    margin: 0 0 0 3.5%;
    padding: 2%;

}

#ball {
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 0;
}

#field {
    width: 200px;
    border: 10px groove black;
    background-color: #00FF00;
    position: relative;
}


.note {
    position: fixed;
    z-index: 1000;
    padding: 5px;
    border: 1px solid black;
    background: white;
    text-align: center;
    font: italic 14px serif;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 0 0 0 100px;
    padding: .5em 10px;
    quotes: "\201C" "\201D" "\2018" "\2019";
    display: inline-block;
    white-space: pre;
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: .1em;
    margin-right: .25em;
    vertical-align: -.4em;
}

#fieldAnother {
    overflow: hidden;
    width: 200px;
    height: 150px;
    border-top: 10px solid black;
    border-right: 10px solid gray;
    border-bottom: 10px solid gray;
    border-left: 10px solid black;
    background-color: #00FF00;
    font: 10px/1.2 monospace;
}

#realField {
    overflow: hidden;
    width: 550px;
    height: 312px;
    border-top: 20px solid rgb(76, 131, 33);
    border-right: 20px solid rgb(73, 122, 35);
    border-bottom: 20px solid rgb(74, 123, 36);
    border-left: 20px solid rgb(60, 108, 31);
    font: 10px/1.2 monospace;
    cursor: pointer;
}

#realBall {
    transition: all 1s;
    position: absolute;
    width: 50px;
    height: 70px;
    margin: 0;
}

.pane {
    background: #edf5e1;
    margin: 10px;
    padding: 10px 20px 10px;
    border-top: solid 2px #c4df9b;
}

.remove-button {
    float: right;
    font-size: 110%;
    color: darkred;
    right: 10px;
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.selected {
    background: #0f0;
}

.notify img {
    width: 100px;
    margin: 100px;
}

#largeImg {
    border: solid 1px #ccc;
    width: 550px;
    height: 400px;
    padding: 5px;
}

#thumbs li {
    list-style: none;
}

#thumbs {
    display: flex;
    margin: 0;
    padding: 0;
}

#thumbs img {
    border: solid 1px #ccc;
    width: 100px;
    height: 100px;
    padding: 3px;
    margin: 2px;
    float: left;
}

#thumbs img:hover {
    border-color: #FF9900;
}

#scrollUp {
    cursor: pointer;
    position: fixed;
    top: 100px;
    left: 10px;
}

#modal {
    position: absolute;
    background-color: #a5b0d0;
}

td select,
td input {
    width: 150px;
}

#diagram td {
    vertical-align: bottom;
    text-align: center;
    padding: 10px;
}

#diagram div {
    margin: auto;
}

#bagua-th {
    text-align: center;
    font-weight: bold;
}

#bagua-table td {
    height: 150px;
    width: 150px;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

#bagua-table textarea {

    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;

}

// #bagua-table button {
//     padding: 5px 10px;
//     font-size: 14px;

// }

// #bagua-table div {
//     display: flex;
//     flex-direction: column;
//     width: 100%;
//     height: 100%;

// }

.nw {
    background-color: #999;
}

.n {
    background-color: #03f;
    color: #fff;
}

.ne {
    background-color: #ff6;
}

.w {
    background-color: #ff0;
}

.c {
    background-color: #60c;
    color: #fff;
}

.e {
    background-color: #09f;
    color: #fff;
}

.sw {
    background-color: #963;
    color: #fff;
}

.s {
    background-color: #f60;
    color: #fff;
}

.se {
    background-color: #0c3;
    color: #fff;
}