body{
    background-color: #A0A398;
}
table{
    border-top-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    background-color: rgb(167, 160, 156);
}