body{
    background-color: #373b46;
}



th {
    background: #24201f;
    color: #f941a3;
    border-right: 2px solid; 
    border-left: 2px solid;
    font-size: 0.9em;
    font-weight: bold;
}

td {
    padding: 10px;
    font-size: 15px;
    text-align: center;
    background-color: beige;
    border-top: 2px solid #2e5fa7;
    border-left: 2px solid #2e5fa7;
    border-bottom: 2px solid #2e5fa7;
    border-right: 2px solid #2e5fa7;
    font-weight: bold;
}

button{
    background-color: #f941a3;
    font-size: 20px;
    margin-top: 15px;
}

input{
    padding: 15px 15px;
    margin-top: 5px;
    background-color: #a5b0d0;
    font-size: 15px;
}
input#printMachine{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
}
#ink-div {
    position: relative;
}
div#display{
    padding: 30px 30px;
    word-break: break-all;
    background-color: rgb(255, 255, 255);
    font-size: 30px;
}

div#DivForSumSalary{
    margin-bottom: 15px;
}
p{
    padding-right: 50%;
    
}
ul{
    font-size: 20px;
    list-style-type: none;
}
div#geoPhoto{
    background-color: rgb(0, 0, 0);
}
img#geopositionPic{
    width: 27%; /* Ширина */
    margin: 0 0 0 3.5%; 
    padding: 2%; 
}
#geopositionText{
    color: #f5f5f5;
    font-size: 30px;
    margin: 0 0 0 3.5%;
    padding: 2%; 

}
#ball{
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 0;
}

#field {
    width: 200px;
    border: 10px groove black;
    background-color: #00FF00;
    position: relative;
  }
#fieldAnother{
    overflow: hidden;
  width: 200px;
  height: 150px;
  border-top: 10px solid black;
  border-right: 10px solid gray;
  border-bottom: 10px solid gray;
  border-left: 10px solid black;
  background-color: #00FF00;
  font: 10px/1.2 monospace;
}